<div class="container" >
	<div class="col-md-3 col-md-offset-4" style="border: 1px solid  #e3e3e3;padding:20px;margin-top:100px;">
	<h1>Login</h1>

	<%= form_for(:session, url:login_path) do |f| %>

		<div class="field">
			<%= f.label :email %>
			<%= f.email_field :email ,placeholder: 'example@example.com', class: 'form-control'%>
		</div>

		<div class="field">
			<%= f.label :password %> 
			<%= f.password_field :password ,placeholder: 'password',class: 'form-control'%>
		</div>
		<br>

		<%= f.submit "Login", class: 'form-control btn-block btn-primary' %>


		
	<% end %>


	</div>	

</div>
